share/xml/xtupleapi.dtd

<!--
  A DTD that maps as closely as possible to the xTuple import API views.

  Conventions:

  - Element names match the names of the columns to which they map in
    the API.

  - Elements are listed in the same order as in the API views.

  - Element and attribute names are all lower case.

  - Attributes are used wherever the list of possible values for a
    database field is short and well known. Examples include order
    status and booleans.  Otherwise the value of a field in the API
    is taken from the element content.

  - Attributes that hold the value of an element are always named 'value'.

  - Attribute values are capitalized exactly as encoded in the API.

  - Space characters have been replaced by _ in attribute values that the
    API expects to contain spaces.

  - If an element has an id attribute then the corresponding underlying
    table has an id. By passing the id attribute for this record, the
    user is telling us to update an existing record with this internal id.
    All id attributes in this file should have positive integer values,
    *not* ID or IDREF values.

  Significant differences between this DTD and the import API views:

  - The API defaults most boolean values in the underlying tables
    to 'false'. That's because values weren't specified. Here,
    since the user went to the trouble of naming the element
    representing that boolean, we assume that s/he meant 'true'.

  -->

<!--
  The following elements are represented in the DTD but are not directly
  importable through the API views:
  -->
<!ELEMENT xtupleimport (custchar |
			custcomment |
			custcreditcard |
			customer |
			custshipto |
			custtax |
			journalentry |
			quote |
			quotecomment |
			quoteline |
			quotelinechar |
			quotelinecomment |
			salesline |
			saleslinechar |
			saleslinecomment |
			salesorder |
			salesordercomment)+ >
<!ATTLIST xtupleimport version	CDATA	#FIXED "development" >

<!ELEMENT custchar (customer_number, characteristic, value ) >

<!ELEMENT custcomment (customer_number, type, date?, username?, text) >

<!ELEMENT custcreditcard (customer_number,
			  credit_card_type,
			  active,
			  credit_card_number,
			  name,
			  street_address1,
			  street_address2,
			  city,
			  state,
			  postal_code,
			  country,
			  expiration_month,
			  expiration_year,
			  key
			 ) >

<!ELEMENT customer (  customer_number,
		      customer_type?,
		      customer_name?,
		      active? ,
		      sales_rep,
		      commission?,
		      ship_via?,
		      ship_form?,
		      shipping_charges?,
		      accepts_backorders?,
		      accepts_partial_shipments?,
		      allow_free_form_shipto?,
		      allow_free_form_billto?,
		      preferred_selling_whs?,
		      default_tax_authority,
		      default_terms,
		      balance_method?,
		      default_discount?,
		      default_currency?,
		      credit_limit_currency?,
		      credit_limit?,
		      credit_rating?,
		      credit_status?,
		      credit_status_exceed_warn?,
		      credit_status_exceed_hold?,
		      uses_purchase_orders?,
		      uses_blanket_pos?,
		      billing_contact_id?,
		      billing_contact_honorific?,
		      billing_contact_first?,
		      billing_contact_last?,
		      billing_contact_job_title?,
		      billing_contact_voice?,
		      billing_contact_alternate?,
		      billing_contact_fax?,
		      billing_contact_email?,
		      billing_contact_web?,
		      billing_contact_address_change?,
		      billing_contact_address1?,
		      billing_contact_address2?,
		      billing_contact_address3?,
		      billing_contact_city?,
		      billing_contact_state?,
		      billing_contact_postalcode?,
		      billing_contact_country?,
		      correspond_contact_id?,
		      correspond_contact_honorific?,
		      correspond_contact_first?,
		      correspond_contact_last?,
		      correspond_contact_job_title?,
		      correspond_contact_voice?,
		      correspond_contact_alternate?,
		      correspond_contact_fax?,
		      correspond_contact_email?,
		      correspond_contact_web?,
		      correspond_contact_address_change?,
		      correspond_contact_address1?,
		      correspond_contact_address2?,
		      correspond_contact_address3?,
		      correspond_contact_city?,
		      correspond_contact_state?,
		      correspond_contact_postalcode?,
		      correspond_contact_country?,
		      notes?,
		      so_edi_profile?,
		      so_edi_email?,
		      so_edi_cc?,
		      so_edi_subject?,
		      so_edi_filename?,
		      so_edi_emailbody?,
		      invc_edi_profile?,
		      invc_edi_email?,
		      invc_edi_cc?,
		      invc_edi_subject?,
		      invc_edi_filename?,
		      invc_edi_emailbody?
		   ) >
<!ATTLIST customer	id	CDATA	#IMPLIED >

<!ELEMENT custshipto ( customer_number,
		       shipto_number?,
		       active?,
		       name?,
		       default_flag?,
		       address1?,
		       address2?,
		       address3?,
		       city?,
		       state?,
		       postal_code?,
		       country?,
		       address_change?,
		       contact_id?,
		       honorific?,
		       first?,
		       last?,
		       job_title?,
		       phone?,
		       fax?,
		       email?,
		       sales_rep?,
		       commission?,
		       zone?,
		       tax_authority?,
		       ship_via?,
		       ship_form?,
		       shipping_charges?,
		       edi_profile?,
		       general_notes?,
		       shipping_notes?
		     ) >
<!ATTLIST custshipto	id	CDATA	#IMPLIED >

<!ELEMENT custtax (customer_number, tax_authority, registration_number) >

<!ELEMENT journalentry ( currency,
			 amount,
			 dist_date,
			 doc_number,
			 debit,
			 credit,
			 notes ) >

<!ELEMENT quote (  quote_number,
		   warehouse?,
		   quote_date?,
		   pack_date?,
		   originated_by?,
		   sales_rep?,
		   commission?,
		   tax_authority?,
		   terms?,
		   project_number?,
		   customer_number,
		   billto_name?,
		   billto_address1?,
		   billto_address2?,
		   billto_address3?,
		   billto_city?,
		   billto_state?,
		   billto_postal_code?,
		   billto_country?,
		   shipto_number?,
		   shipto_name?,
		   shipto_phone?,
		   shipto_address1?,
		   shipto_address2?,
		   shipto_address3?,
		   shipto_city?,
		   shipto_state?,
		   shipto_postal_code?,
		   shipto_country?,
		   cust_po_number?,
		   fob?,
		   ship_via?,
		   currency?,
		   ( misc_charge_description,
		     misc_account_number,
		     misc_charge)?,
		   freight?,
		   order_notes?,
		   shipping_notes?,
		   add_to_packing_list_batch?
		) >
<!ATTLIST quote	id	CDATA	#IMPLIED >

<!ELEMENT quotecomment ( quote_number,
			 type,
			 date,
			 username?,
			 text
			) >

<!ELEMENT quoteline ( quote_number,
		      line_number?,
		      item_number,
		      customer_pn?,
		      sold_from_whs?,
		      qty_ordered,
		      net_unit_price?,
		      scheduled_date,
		      tax_type?,
		      tax_code?,
		      discount_pct_from_list?,
		      create_order?,
		      supplying_whs?,
		      overwrite_po_price?,
		      notes?
		    ) >
<!ATTLIST quoteline	id	CDATA	#IMPLIED >

<!ELEMENT quotelinechar ( quote_number,
			  line_number,
			  characteristic,
			  value?
			) >

<!ELEMENT quotelinecomment ( quote_number,
			     line_number,
			     type,
			     date,
			     username?,
			     text
			   ) >

<!ELEMENT salesline	( order_number,
			  line_number?,
			  ( item_number | customer_pn |
			    (item_number, customer_pn)
			  ),
			  substitute_for?,
			  sold_from_whs?,
			  status?,
			  qty_ordered,
			  net_unit_price?,
			  scheduled_date?,
			  tax_type?,
			  tax_code?,
			  discount_pct_from_list?,
			  create_order?,
			  overwrite_po_price?,
			  notes?
			) >
<!ATTLIST salesline	id	CDATA	#IMPLIED >

<!ELEMENT saleslinechar ( order_number,
			  line_number,
			  characteristic,
			  value?
			) >

<!ELEMENT saleslinecomment ( order_number,
			     line_number,
			     type,
			     date?,
			     username?,
			     text
			   ) >

<!ELEMENT salesorder (	order_number,
			warehouse?,
			order_date?,
			pack_date?,
			originated_by?,
			sales_rep?,
			commission?,
			tax_authority?,
			terms?,
			project_number?,
			customer_number,
			billto_name?,
			billto_address1?,
			billto_address2?,
			billto_address3?,
			billto_city?,
			billto_state?,
			billto_postal_code?,
			billto_country?,
			shipto_number?,
			shipto_name?,
			shipto_phone?,
			shipto_address1?,
			shipto_address2?,
			shipto_address3?,
			shipto_city?,
			shipto_state?,
			shipto_postal_code?,
			shipto_country?,
			cust_po_number?,
			fob?,
			ship_via?,
			hold_type?,
			shipping_chgs?,
			shipping_form?,
			ship_complete?,
			currency?,
			( misc_charge_description,
			  misc_account_number,
			  misc_charge
			)?,
			freight?,
			order_notes?,
			shipping_notes?,
			add_to_packing_list_batch?
		      )>
<!ATTLIST salesorder	id	CDATA	#IMPLIED >

<!ELEMENT salesordercomment ( order_number,
			      type,
			      date?,
			      username?,
			      text
			    ) >

<!ELEMENT address1			(#PCDATA) >
<!ELEMENT address2			(#PCDATA) >
<!ELEMENT address3			(#PCDATA) >
<!ELEMENT addressline			(#PCDATA) >
<!ELEMENT amount			(#PCDATA) >	<!-- money -->
<!ELEMENT billing_contact_address1	(#PCDATA) >
<!ELEMENT billing_contact_address2	(#PCDATA) >
<!ELEMENT billing_contact_address3	(#PCDATA) >
<!ELEMENT billing_contact_alternate	(#PCDATA) >	<!-- phone number -->
<!ELEMENT billing_contact_city		(#PCDATA) >
<!ELEMENT billing_contact_country	(#PCDATA) >
<!ELEMENT billing_contact_email		(#PCDATA) >	<!-- email address -->
<!ELEMENT billing_contact_fax		(#PCDATA) >	<!-- phone number -->
<!ELEMENT billing_contact_first		(#PCDATA) >
<!ELEMENT billing_contact_honorific	(#PCDATA) >
<!ELEMENT billing_contact_id		(#PCDATA) >	<!-- positive int -->
<!ELEMENT billing_contact_job_title	(#PCDATA) >
<!ELEMENT billing_contact_last		(#PCDATA) >
<!ELEMENT billing_contact_postalcode	(#PCDATA) >
<!ELEMENT billing_contact_state		(#PCDATA) >
<!ELEMENT billing_contact_voice		(#PCDATA) >	<!-- phone number -->
<!ELEMENT billing_contact_web		(#PCDATA) >	<!-- URL -->
<!ELEMENT billto_address1		(#PCDATA) >
<!ELEMENT billto_address2		(#PCDATA) >
<!ELEMENT billto_address3		(#PCDATA) >
<!ELEMENT billto_city			(#PCDATA) >
<!ELEMENT billto_country		(#PCDATA) >
<!ELEMENT billto_name			(#PCDATA) >
<!ELEMENT billto_postal_code		(#PCDATA) >
<!ELEMENT billto_state			(#PCDATA) >
<!ELEMENT characteristic		(#PCDATA) >
<!ELEMENT city				(#PCDATA) >
<!ELEMENT commission			(#PCDATA) >
<!ELEMENT contact_id			(#PCDATA) >	<!-- positive int -->
<!ELEMENT correspond_contact_address1	(#PCDATA) >
<!ELEMENT correspond_contact_address2	(#PCDATA) >
<!ELEMENT correspond_contact_address3	(#PCDATA) >
<!ELEMENT correspond_contact_alternate	(#PCDATA) >	<!-- phone number -->
<!ELEMENT correspond_contact_city	(#PCDATA) >
<!ELEMENT correspond_contact_country	(#PCDATA) >
<!ELEMENT correspond_contact_email	(#PCDATA) >	<!-- email address -->
<!ELEMENT correspond_contact_fax	(#PCDATA) >	<!-- phone number -->
<!ELEMENT correspond_contact_first	(#PCDATA) >
<!ELEMENT correspond_contact_honorific	(#PCDATA) >
<!ELEMENT correspond_contact_id		(#PCDATA) >	<!-- positive int -->
<!ELEMENT correspond_contact_job_title	(#PCDATA) >
<!ELEMENT correspond_contact_last	(#PCDATA) >
<!ELEMENT correspond_contact_postalcode	(#PCDATA) >
<!ELEMENT correspond_contact_state	(#PCDATA) >
<!ELEMENT correspond_contact_voice	(#PCDATA) >	<!-- phone number -->
<!ELEMENT correspond_contact_web	(#PCDATA) >	<!-- URL -->
<!ELEMENT country		(#PCDATA) >
<!ELEMENT credit		(#PCDATA) >	<!-- 00-00-00-00 -->
<!ELEMENT credit_card_number	(#PCDATA) >
<!ELEMENT credit_limit		(#PCDATA) >
<!ELEMENT credit_limit_currency	(#PCDATA) >
<!ELEMENT credit_rating		(#PCDATA) >
<!ELEMENT currency		(#PCDATA) >
<!ELEMENT cust_po_number	(#PCDATA) >
<!ELEMENT customer_name		(#PCDATA) >
<!ELEMENT customer_number	(#PCDATA) >
<!ELEMENT customer_pn	 	(#PCDATA) >
<!ELEMENT customer_type		(#PCDATA) >
<!ELEMENT date			(#PCDATA) >	<!-- PostgreSQL timestamp -->
<!ELEMENT debit			(#PCDATA) >	<!-- 00-00-00-00 -->
<!ELEMENT default_currency	(#PCDATA) >
<!ELEMENT default_discount	(#PCDATA) >
<!ELEMENT default_tax_authority	(#PCDATA) >
<!ELEMENT default_terms		(#PCDATA) >
<!ELEMENT discount_pct_from_list (#PCDATA) >	<!-- Numeric -->
<!ELEMENT dist_date		(#PCDATA) >	<!-- PostgreSQL timestamp -->
<!ELEMENT doc_number		(#PCDATA) >
<!ELEMENT edi_profile		(#PCDATA) >
<!ELEMENT email			(#PCDATA) >	<!-- email address -->
<!ELEMENT expiration_month	(#PCDATA) >
<!ELEMENT expiration_year	(#PCDATA) >
<!ELEMENT fax			(#PCDATA) >	<!-- phone number -->
<!ELEMENT first			(#PCDATA) >
<!ELEMENT fob			(#PCDATA) >
<!ELEMENT freight		(#PCDATA) >	<!-- Numeric -->
<!ELEMENT general_notes		(#PCDATA) >
<!ELEMENT honorific		(#PCDATA) >
<!ELEMENT invc_edi_cc		(#PCDATA) >	<!-- email address -->
<!ELEMENT invc_edi_email	(#PCDATA) >	<!-- email address -->
<!ELEMENT invc_edi_emailbody	(#PCDATA) >
<!ELEMENT invc_edi_filename	(#PCDATA) >
<!ELEMENT invc_edi_profile	(#PCDATA) >	<!-- Custom Email|No EDI|Use Customer Master|[profile name] -->
<!ELEMENT invc_edi_subject	(#PCDATA) >
<!ELEMENT item_number	 	(#PCDATA) >
<!ELEMENT job_title		(#PCDATA) >
<!ELEMENT key			(#PCDATA) >
<!ELEMENT last			(#PCDATA) >
<!ELEMENT line_number	 	(#PCDATA) >	<!-- positive Integer -->
<!ELEMENT misc_account_number	(#PCDATA) >	<!-- 00-00-00-00 -->
<!ELEMENT misc_charge		(#PCDATA) >	<!-- Numeric -->
<!ELEMENT misc_charge_description (#PCDATA) >
<!ELEMENT name			(#PCDATA) >
<!ELEMENT net_unit_price	(#PCDATA) >	<!-- Numeric -->
<!ELEMENT notes			(#PCDATA) >
<!ELEMENT order_date		(#PCDATA) >	<!-- PostgreSQL timestamp -->
<!ELEMENT order_notes		(#PCDATA) >
<!ELEMENT order_number		(#PCDATA) >	<!-- positive Integer -->
<!ELEMENT overwrite_po_price	(#PCDATA) >	<!-- Numeric -->
<!ELEMENT pack_date		(#PCDATA) >	<!-- PostgreSQL timestamp -->
<!ELEMENT phone			(#PCDATA) >	<!-- phone number -->
<!ELEMENT postal_code		(#PCDATA) >
<!ELEMENT preferred_selling_whs	(#PCDATA) >
<!ELEMENT project_number	(#PCDATA) >	<!-- positive Integer -->
<!ELEMENT qty_ordered	 	(#PCDATA) >	<!-- Numeric -->
<!ELEMENT quote_date		(#PCDATA) >	<!-- PostgreSQL timestamp -->
<!ELEMENT quote_number		(#PCDATA) >	<!-- positive Integer -->
<!ELEMENT registration_number	(#PCDATA) >
<!ELEMENT sales_rep		(#PCDATA) >
<!ELEMENT scheduled_date	(#PCDATA) >	<!-- PostgreSQL timestamp -->
<!ELEMENT ship_form		(#PCDATA) >
<!ELEMENT ship_via		(#PCDATA) >
<!ELEMENT shipping_charges	(#PCDATA) >
<!ELEMENT shipping_chgs		(#PCDATA) >
<!ELEMENT shipping_form		(#PCDATA) >
<!ELEMENT shipping_notes	(#PCDATA) >
<!ELEMENT shipto_address1	(#PCDATA) >
<!ELEMENT shipto_address2	(#PCDATA) >
<!ELEMENT shipto_address3	(#PCDATA) >
<!ELEMENT shipto_city		(#PCDATA) >
<!ELEMENT shipto_country	(#PCDATA) >
<!ELEMENT shipto_name		(#PCDATA) >
<!ELEMENT shipto_number		(#PCDATA) >
<!ELEMENT shipto_phone		(#PCDATA) >
<!ELEMENT shipto_postal_code	(#PCDATA) >
<!ELEMENT shipto_state		(#PCDATA) >
<!ELEMENT so_edi_cc		(#PCDATA) >	<!-- email address -->
<!ELEMENT so_edi_email		(#PCDATA) >	<!-- email address -->
<!ELEMENT so_edi_emailbody	(#PCDATA) >
<!ELEMENT so_edi_filename	(#PCDATA) >
<!ELEMENT so_edi_profile	(#PCDATA) >	<!-- Custom Email|No EDI|Use Customer Master|[profile name] -->
<!ELEMENT so_edi_subject	(#PCDATA) >
<!ELEMENT sold_from_whs	 	(#PCDATA) >
<!ELEMENT state			(#PCDATA) >
<!ELEMENT street_address1	(#PCDATA) >
<!ELEMENT street_address2	(#PCDATA) >
<!ELEMENT substitute_for 	(#PCDATA) >
<!ELEMENT supplying_whs 	(#PCDATA) >
<!ELEMENT tax_authority		(#PCDATA) >
<!ELEMENT tax_code		(#PCDATA) >
<!ELEMENT tax_type		(#PCDATA) >
<!ELEMENT terms			(#PCDATA) >
<!ELEMENT text			(#PCDATA) >
<!ELEMENT type			(#PCDATA) >
<!ELEMENT username		(#PCDATA) >
<!ELEMENT value		   	(#PCDATA) >
<!ELEMENT warehouse		(#PCDATA) >
<!ELEMENT web			(#PCDATA) >
<!ELEMENT zone			(#PCDATA) >

<!ELEMENT add_to_packing_list_batch	EMPTY	>
<!ATTLIST add_to_packing_list_batch	value (true|false)	'true' >

<!ELEMENT active EMPTY >
<!ATTLIST active value (true|false) 'true' >

<!ELEMENT accepts_backorders EMPTY >
<!ATTLIST accepts_backorders value (true|false) 'true' >

<!ELEMENT accepts_partial_shipments EMPTY >
<!ATTLIST accepts_partial_shipments value (true|false) 'true' >

<!ELEMENT address_change EMPTY >
<!ATTLIST address_change value	(CHECK|CHANGEONE|CHANGEALL) #REQUIRED >

<!ELEMENT allow_free_form_billto EMPTY >
<!ATTLIST allow_free_form_billto value (true|false) 'true' >

<!ELEMENT allow_free_form_shipto EMPTY >
<!ATTLIST allow_free_form_shipto value (true|false) 'true' >

<!ELEMENT balance_method EMPTY >
<!ATTLIST balance_method value (Balance_Forward|Open_Items) #REQUIRED >

<!ELEMENT billing_contact_address_change EMPTY >
<!ATTLIST billing_contact_address_change value (CHECK|CHANGEONE|CHANGEALL) #REQUIRED >

<!ELEMENT correspond_contact_address_change EMPTY >
<!ATTLIST correspond_contact_address_change value (CHECK|CHANGEONE|CHANGEALL) #REQUIRED >

<!ELEMENT create_order		EMPTY >
<!ATTLIST create_order	value (true|false)	'true' >

<!ELEMENT credit_card_type EMPTY>
<!ATTLIST credit_card_type value (Visa |
				  Master_Card |
				  American_Express |
				  Discover |
				  Not_Supported) #REQUIRED >

<!ELEMENT credit_status	EMPTY >
<!ATTLIST credit_status value (On_Credit_Warning|On_Credit_Hold|Good) 'Good' >

<!ELEMENT credit_status_exceed_hold EMPTY >
<!ATTLIST credit_status_exceed_hold value (true|false) 'true' >

<!ELEMENT credit_status_exceed_warn EMPTY >
<!ATTLIST credit_status_exceed_warn value (true|false) 'true' >

<!ELEMENT default_flag EMPTY >
<!ATTLIST default_flag value (true|false) 'true' >

<!ELEMENT hold_type	EMPTY	 >
<!ATTLIST hold_type	value (None|Credit|Shipping|Packing)	'None' >

<!ELEMENT originated_by	EMPTY >
<!ATTLIST originated_by	value	(Customer|Internet|Sales_Rep.) #REQUIRED >

<!ELEMENT ship_complete	EMPTY	 >
<!ATTLIST ship_complete	value	(true|false)	'true' >

<!ELEMENT status	EMPTY >
<!ATTLIST status	value	(O|C|X)		'O' >

<!ELEMENT uses_blanket_pos EMPTY >
<!ATTLIST uses_blanket_pos	value	(true|false)	'true' >

<!ELEMENT uses_purchase_orders EMPTY >
<!ATTLIST uses_purchase_orders	value	(true|false)	'true' >
